team3.itatmisis.ru {
    encode gzip

    # Прокси для API
    handle /api/* {
        reverse_proxy api:3000
    }

    # Статические файлы
    handle {
        root * /app/dist
        try_files {path} /index.html
        file_server
    }

    # Обработка ошибок
    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }

    # Поддержка SSL для WSS (автоматически от Let's Encrypt)
    tls youremail@example.com
}
